@import './slider';
@import './header';

.admin {
  &__content {
    padding: 0 30px;
    margin-bottom: 100px;
    width: 100%;
    max-width: calc(100vw - 230px);
  }
}

.container-md {
  max-width: 1000px;
}

.txt-center {
  text-align: center;
}

.center-block {
  width: max-content;
  margin: auto;
  display: block !important;
}

.flx-center {
  @include _flexBox;
  &.align-left {
    justify-content: flex-start;
  }
  &.space-center {
    justify-content: space-between;
  }
  &.column {
    flex-direction: column;
  }
}

.relative-pos {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.control-btn {
  height: 100%;
}

.hover-action {
  @include _hover_action;
}

@for $i from 0 through 32 {
  @if ($i % 2) == 0 {
    .mt-#{$i} {
      margin-top: #{$i}px !important;
    }
    .mr-#{$i} {
      margin-right: #{$i}px !important;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}px !important;
    }
    .ml-#{$i} {
      margin-left: #{$i}px !important;
    }
    .pt-#{$i} {
      padding-top: #{$i}px !important;
    }
    .pr-#{$i} {
      padding-right: #{$i}px !important;
    }
    .pb-#{$i} {
      padding-bottom: #{$i}px !important;
    }
    .pl-#{$i} {
      padding-left: #{$i}px !important;
    }
    .m-tb-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    .m-lr-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
    .m-#{$i} {
      margin: #{$i}px !important;
    }
    .p-tb-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
    .p-lr-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
    .p-#{$i} {
      padding: #{$i}px !important;
    }
  }
}
